.user_small_box {
    display: flex;
    align-items: center;
}

.username {
    min-width: 3em;
    max-width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user_small_box .username {
    line-height: 26px;
    font-size: 18px;
    margin-left: 5px;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}